/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */








/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  padding: .66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: black;
}



.landing{
  width:100%;
  display:grid;

  grid-template-columns: 1fr 1fr;

}



.text-container{
  background-color:  hsl(147, 64%, 61%);
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;

}

.text-box{
  width:80%;
}

.hero-content{
    color: #241c15;
    font-family: Cooper,Georgia,Times,Times New Roman,serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -.03125rem;
    line-height: 1;
}




.image-container {
    background-color: hsl(147, 64%, 61%);
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image-container-recipe {
    background-image: linear-gradient(to right, #212529 , #5cdb95); 
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}


.cover-photo{
   
  background-image: url(https://marketplace.canva.com/MADGx44SSKM/4/screen_2x/canva-six-20-pound-euro-MADGx44SSKM.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width:80%;
  height:60%;
}


.cover-photo-two{
   
  background-image: url(https://marketplace.canva.com/MADGx-V23ss/4/thumbnail_large/canva-brass-round-7-stack-coins-MADGx-V23ss.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width:80%;
  height:60%;
}

#sticky-footer p{
  margin-top:1rem;
  text-align:center;
  vertical-align: middle;
}
/*
media query for when the screen is large
*/


@media only screen and (min-width: 1024px) {
  .company_view {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
  .landing{
    height:100vh;
  }
}

@media only screen and (max-width: 1024px) {
   .company_view {
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
 
  .landing{
    display: grid;
    grid-template-columns: 1fr;
  }
  
 
  .cover-photo{
    height:80%;
    width:90%;
  }
  
  .cover-photo-two{
    height:80%;
    width:90%;
  }
  
  .image-container {
    background-color: hsl(147, 64%, 61%);
    height:50vh;
    display:flex;
    align-items: center;
    justify-content: center;
}


#sticky-footer{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:end;
}

#sticky-footer p{
  margin-top:1rem;
  text-align:center;
  vertical-align: middle;
}
}
